html {
  background-image: url(../images/final-bg-full.jpg);
  background-position: center;
  font-family: "Silom";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-family: "Satisfy";
}

.wrapper {
  max-height: 1080px;
  max-width: 1920px;
}

.main-screen {
  height: 756px;
  max-width: 1290px;
  border: 1em solid rgb(111, 103, 147);
  margin: 3em 0 0 1em;
  border-radius: 1em;
  background-image: url(../images/homescreen.jpeg);
  background-position: center center;
  background-size: 116%;
}

.example {
  background-color: rgb(57, 50, 87);
  border-radius: 5em;
  height: 115px;
  filter: drop-shadow(1px 1px 6px #000000);
}

.inner-image {
  display: block;
  max-width: 50%;
  width: 50%;
  height: auto;
}

.btn-primary {
  height: 54px;
  width: 200px;
  margin: 0 0 0 12em;
  font-family: inherit;
  font-size: 1.5em;
  border-radius: 2em;
  background-color: rgb(57, 50, 87);
  border-color: transparent;
  color: rgb(171, 163, 200);
}

.btn-secondary {
  height: 54px;
  width: 200px;
  border-radius: 3em;
  font-family: inherit;
  font-size: 1.5em;
  background-color: rgb(57, 50, 87);
  border-color: transparent;
  color: rgb(171, 163, 200);
}

.btn-third {
  height: 54px;
  width: 200px;
  border-radius: 3em;
  font-family: inherit;
  font-size: 1.5em;
  background-color: rgb(57, 50, 87);
  border-color: transparent;
  color: rgb(171, 163, 200);
}

.btn-fourth {
  height: 54px;
  width: 200px;
  border-radius: 3em;
  margin: 1em 1.2em;
  font-family: inherit;
  font-size: 1.5em;
  background-color: rgb(57, 50, 87);
  border-color: transparent;
  color: rgb(171, 163, 200);
}

.btn-fifth {
  height: 80px;
  width: 411px;
  border-radius: 7em;
  margin: 0.5em 0 3em 0;
  background-color: rgb(171, 163, 200);
  color: rgb(57, 55, 55);
  border-color: rgb(171, 163, 200);
  font-family: inherit;
  font-size: 1.5em;
  text-align: left;
  padding: 0 0 0 3rem;
}

.btn-six {
  height: 87px;
  width: 296px;
  border-radius: 5em;
  float: right;
  font-family: inherit;
  font-size: 1.5em;
}

.btn-seven {
  height: 87px;
  width: 296px;
  border-radius: 5em;
  float: right;
  font-family: inherit;
  font-size: 1.5em;
}

/* .btn-primary:hover {
  transition: 0.5s;
  background-color: rgb(62, 54, 94);
} */
